<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Nowy klient</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link th:href="@{/css/addGroomer.css}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
          integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

</head>
<body>

<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">Groomer</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-nav-demo">
            <ul class="nav navbar-nav">
                <li><a href="/groomer/add">Jestem fryzjerem</a></li>
                <li><a href="/client/add">Jestem klientem</a></li>
                <li><a href="/groomers">Fryzjerzy</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Admin <i class="fas fa-user"></i></a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3>Chcesz umówic psa na wizytę? Wypełnij poniższy formularz, wybrany fryzjer skontatkuje się z Tobą w celu potwierdzenia
                terminu wizyty.</h3>
        </div>
    </div>
</div>
<br>
<br>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <form th:action="@{/client/add}" th:object="${client}" method="post">
                <input type="hidden" th:field="*{id}"/>

                    <label>Jak mamy się do Ciebie zwracać?</label>
                    <input type="text" th:field="*{name}" class="form-control" placeholder="np. Jan Kowalski" required/>

                    <label>Kontakt do Ciebie:</label>
                    <input type="text" th:field="*{contact}" class="form-control" placeholder="telefon /  e-mail" required/>

                    <label>Imię psa:</label>
                    <p><input type="text" th:field="*{dogName}" class="form-control" placeholder="np. Reksio" required/>

                <label>Rasa:</label>
                <p></p><input type="text" th:field="*{breed}" class="form-control" placeholder="np. Shih Tzu / terrier / mieszaniec" required/>

                <label>Rodzaj sierści:</label>
                <input type="text" th:field="*{coatType}" class="form-control" placeholder="np. szorstka / długa, gładka" required/>

                <label>Wielkość psa:</label>
                <select th:field="*{dogSize}" class="form-control">
                    <option th:value="dogSize">Mały</option>
                    <option th:value="dogSize">Średni</option>
                    <option th:value="dogSize">Duży</option>
                </select>

                    <label>Wybierz fryzjera:</label>
                <select th:field="*{groomer}" name="groomer.id" class="form-control">
                    <option th:each="groomer : ${groomer}"
                            th:value="${groomer.id}"
                            th:text="${groomer}">Fryzjer
                    </option>
                </select>

                <p><input type="submit" class="btn btn-success" value="Dodaj"/>
            </form>
        </div>
    </div>
</div>

</body>
</html>