<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Fryzjerzy</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link th:href="@{/css/addGroomer.css}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700"  rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

</head>
<body>

<!--navbar moved to fragments/navbar-->
<div th:replace="fragments/navbar :: navbar"></div>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3>Baza naszych fryzjerów</h3>
        </div>
    </div>
</div>
<br>
<br>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Fryzjer</th>
                    <th>Informacje</th>
                </tr>
                </thead>
                <tr th:each="groomer : ${groomers}">
                    <td th:text="${groomer.name}"></td>
                    <td th:text="${groomer.profile}"></td>
                </tr>
            </table>
        </div>
    </div>
</div>

</body>
</html>