<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Sukces!</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link th:href="@{/css/addGroomer.css}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700"  rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

</head>
<body  class="bsuccess">

<!--navbar moved to fragments/navbar-->
<div th:replace="fragments/navbar :: navbar"></div>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2 id="success">Sukces!</h2>
        </div>
    </div>
</div>


</body>
</html>