<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Strona Główna</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link th:href="@{/css/addGroomer.css}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
          integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

</head>
<body>

<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">Groomer</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-nav-demo">
            <ul class="nav navbar-nav">
                <li><a href="/groomer/add">Jestem fryzjerem</a></li>
                <li><a href="/client/add">Jestem klientem</a></li>
                <li><a href="/groomers">Fryzjerzy</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Admin <i class="fas fa-user"></i></a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3>Dodaj się do naszej bazy.</h3>
        </div>
    </div>
</div>
<br>
<br>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <form th:action="@{/groomer/add}" th:object="${groomer}" method="post">
                <input type="hidden" th:field="*{id}"/>
                <div class="form-group">
                    <label>Jak mamy się do Ciebie zwracać?</label>
                    <input type="text" class="form-control" th:field="*{name}" placeholder="np. Jan Kowalski" required/>
                </div>
                <div class="form-group">
                    <label>Podstawowe informacje:</label>
                    <textarea th:field="*{profile}" class="form-control" rows="3" placeholder="O mnie..." required>
                    </textarea>
                </div>
                <p><input type="submit" class="btn btn-success" value="Dodaj"/>
            </form>
        </div>
    </div>
</div>


</body>
</html>